body {
    margin: 0;
    padding: 0;
    background: #020080;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 90%;
    max-width: 360px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    margin: 110px auto;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 26px;
    color: #333;
}

.subtitle {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #777;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 18px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0f5ca7;
}

.error {
    color: red;
    margin-top: 12px;
    font-size: 14px;
}
